  <p class="texto">O projeto é baseado em 3 pilares</p>
<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-generic" data-slide-to="1"></li>
    <li data-target="#carousel-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active content-center">
        <img src="/assets/images/foto-desc.png" alt="foto" class="redondo">
        <p class="carrossel-sub-title">TRANSFORMAÇÃO SOCIAL</p>
        <p class="texto">Educação cidadã e formação profissional de cozinheiros</p>
    </div>
    <!-- <div class="item content-center">
        <img src="/assets/images/foto-perfil.png" alt="foto" class="redondo">
        <p class="carrossel-sub-title">TRANSFORMAÇÃO SOCIAL</p>
        <p class="texto">Educação cidadã e formação profissional de cozinheiros</p>
    </div>
    <div class="item  content-center">
        <img src="/assets/images/foto-perfil.png" alt="foto" class="redondo">
        <p class="carrossel-sub-title">TRANSFORMAÇÃO SOCIAL</p>
        <p class="texto">Educação cidadã e formação profissional de cozinheiros</p>
    </div> -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>