<footer class="site-footer">
  <div class="container">
    <div class="float-left rodape-conteudo">
    	<span class="texto-rodape float-left">Realizado por</span><br />
    	<img src="{{ site.realizador-logo }}" class="img-rodape float-left" alt="{{ site.realizador-nome }}" />
    </div>
    <div class="float-right rodape-conteudo">
    	<span class="texto-rodape float-right">Desenvolvido por</span><br />
    	<img src="{{ site.desenvolvedor-logo }}" class="img-rodape float-right" alt="{{ site.desenvolvedor-nome }}" />
	</div>
  </div>
</footer>
