<form class="form-cozinha" method="post" action="/assets/email.php">
	<div class="row content-left">
	  <div class="group-cadastro">
	    <input type="text" class="form-control input-lg input-cadastro" id="InputName" placeholder="Nome" name="nome">
	    <input type="email" class="form-control input-lg input-cadastro" id="InputEmail" placeholder="E-mail" name="email">
	  </div>
    <label class="label-cadastro">
      <input name="flag" value="SIM" type="checkbox"> Sou produtor agrícola e gostaria de me tornar forcenedor da Cozinha SP
    </label>
	</div>
  <button type="submit" class="btn btn-lg btn-default btn-cadastro">CADASTRAR</button>
</form>